/*navbar*/
.nav-link{
    font-size: 1.27rem;
}
@media only screen and (max-width:500px){
.nav-img{
    max-width: 20%;
    max-height: auto;
}
.navbar-toggler{
    max-width: 50%;
    max-height: auto;
}
}
/*carousel*/
.carousel-caption{
    position: absolute;
    align-items: center;
    height: 70%;
    translate:middle;
}
.carousel-caption-h2{
    font-size: 270%;
    color:rgb(255, 236, 236);
    font-family: 'Shippori Mincho', serif;
}
@media only screen and (max-width:757px) {
.carousel-caption-h2{
    font-size: 110%;
    font-weight: 100;
}
.carousel-caption-h2.carousel-caption-h2-first{
    color:rgb(48, 48, 48);
}
}
.carousel-caption-h3{
    font-size: 170%;
    color:rgb(255, 236, 236);
    font-family: 'Dancing Script', cursive;
}
@media only screen and (max-width:757px) {
.carousel-caption-h3{
    font-size: 110%;
    font-weight: 100;
}
.carousel-caption-h3.carousel-caption-h3-first{
    color:rgb(48, 48, 48);
}
}
.btnMore {
    background-color: #cc9f9f00;
    color: #ffffff;
    border: 2px solid #817b7b;
}
.btnMore:hover {
    background-color: #cc9f9f00;
    color: rgb(57, 33, 218);
}

.hide-in-phone{
    display:inline;
}
@media only screen and (max-width:1474px) {
    .hide-in-phone { display: none; } 
}
@media only screen and (max-width:400px) {
.icon{
    font-size: 50%;
}
.switch-btn{
    display:none;
}
}
.carousel-img{
    max-width: 100%;
    max-height: auto;
}
/* phone more*/
.phone-more{
    display:none;
    }
@media only screen and (max-width:1474px){
.phone-more{
    display:block;
    background-color: rgb(255, 246, 246);
    background-image: url("https://upload.cc/i1/2021/06/10/M0Hu4c.jpg");
    text-align: center;
    max-width: 100%;
    max-height: auto;
}
}
.phone-more-p{
    margin-right:2rem;
    margin-left:2rem;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}
/* card */
.pieces{
    background-color:rgb(255, 249, 249);
    max-width:100%;
    max-height:auto;
    display:flex;
    font-family: 'Noto Serif TC', serif;
}
.card{
    border:0em;
    text-align: center;
    margin:auto;
}
.cardh1Pieces{
    text-align: center;
    font-size: 5em;
    font-weight: 77;
    color:gray;
}
@media only screen and (max-width:570px){
.cardh1Pieces{
    font-size: 2em;
}
}
.card-h{
    font-weight:500;
    font-size:1.7em;
    font-family: 'Noto Serif TC', serif;
}
.card-text{
    font-size:0.7em;
    font-weight: 20;
}
a{
    text-decoration:none;
}
.card-href{
    color:rgb(0, 0, 0);
}
/* video*/
.video-main {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-main .container {
    position: relative;
    z-index: 2;
}
.video-main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.more-videos{
    color:rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-weight: 200;
}